<h1>Users#index</h1>

<ul>
	<% @list.each do |u| %>
		<li>
			<%= image_tag u.avatar.url(:thumb) if u.avatar %> 
			<%= link_to u.name, user_path(u) %> 
			<%= link_to '(и)', edit_user_path(u), title:'Изменить' %> 
			<%= link_to '(x)', user_path(u), method: :delete, title:'Удалить', data: { confirm: "Удалить пользователя '#{u.name}'?" } %>
		</li>
	<% end %>
</ul>
<hr>
<%= link_to 'Создать', new_user_path %>

