<h1>Users#show</h1>

<table width="50%" align="center" border="3" cols="3">
	<tr><!-- тип, аватар -->
		<td>Тип:</td>
		<td><%= @user.kind %></td>
		<td rowspan="3" align="center" valign="center">
			<%= link_to @user.avatar.url do %>
				<%= image_tag @user.avatar.url(:medium) %>
			<% end %>
		</td>
	</tr>
	<tr><!-- имя -->
		<td>Имя: </td>
		<td><%= @user.name  %></td>
	</tr>
	<tr><!-- почта -->
		<td>Почта: </td>
		<td><%= @user.email  %></td>
	</tr>
	<tr><!-- кнопки -->
		<td>
			<%= link_to users_path do %>
				<button>Список</button>
			<% end %>
		</td>
		<td>
			<%= link_to edit_user_path(@user) do %>
				<button>Изменить</button>
			<% end %>
		</td>
		<td>
			<%= link_to user_path(@user), method: :delete, data: { confirm: 'Удалить?' } do %>
				<button>Удалить</button>
			<% end %>
		</td>
	</tr>
</table>
