<h1>Users#show</h1>

<table width="50%" align="center" border="3" cols="3">
	<tr>
		<td>Имя: </td>
		<td colspan="2"><%= @user.name  %></td>
	</tr>
	<tr>
		<td>Почта: </td>
		<td colspan="2"><%= @user.email  %></td>
	</tr>
	<tr>
		<td>
			<%= link_to users_path do %>
				<button>Список</button>
			<% end %>
		</td>
		<td><%= link_to 'Изменить', edit_user_path(@user) %></td>
		<td><%= link_to 'Удалить', user_path(@user), method: :delete %></td>
	</tr>
</table>
